.root {
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

.titleRow {
  margin: 30px 0;
  padding: 0 10px;
  text-align: right;
}

.ingredients {
  width: 100%;
}

.summary {
  line-height: 25px;
  font-size: 18px;
  padding: 10px;
}

.summaryRow {
}

.summaryLabel {
  font-weight: bold;
}

.ingredient {
  margin: 15px 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.ingredient:nth-child(odd) {
  background: rgba(0, 0, 0, 0.15);
}

.thInput {
  width: 80px;
}

.thButton {
  width: 50px;
}

.input {
  font-size: 20px;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  border: none;
  margin: 10px;
  border-radius: 4px;
  background: white;
}

.name {
  text-align: right;
  padding-left: 10px;
  word-break: break-word;
}

.scaleWeight {
  text-align: right;
  font-weight: bold;
  padding-left: 15px;
}

.buttonWrapper {
  text-align: center;
}

.flourInputWrapper {
  position: relative;
}

.removeFlourBtn {
  border: none;
  font-weight: bold;
  background: red;
  color: white;
  height: auto;
  line-height: 30px;
  text-align: center;
  width: 30px;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
}

.addFlourButton {
  background: green;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  line-height: 40px;
  padding: 0 15px;
  font-size: 17px;
}

.contactTitle {
  text-align: center;
  margin: 40px 0 5px;
  font-size: 20px;
}

.contacts {
  text-align: center;
}

.contactButton {
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

@media (min-width: 400px) {
  .hydration {
    font-size: 30px;
  }

  .thInput {
    width: 150px;
  }
}

@media (min-width: 620px) {
  .titleRow {
    padding: 0;
  }
}
